<div class="container-fluid">
    <div class="row">
        <div class="col p-0 table-responsive">
            <table class="text-white text-left w-100">
                <tr class="detail-row">
                    <td class="py-3 px-3 px-sm-2 font-weight-bold align-top align-sm-middle text-nowrap">Product Images</td>
                    <td class="py-3 pl-5 px-sm-2 align-top align-sm-middle"><a id="modal-link" (click)="open(contents)" [ngClass]="{'disabled': itemDetailResults.Images.length === 0}">View Product Images Here</a></td>
                </tr>
                <tr class="detail-row" *ngFor="let detail of getItemDetails(); index as i">
                    <td class="py-3 px-3 px-sm-2 font-weight-bold align-top align-sm-middle text-nowrap">{{detail[0]}}</td>
                    <td class="py-3 pl-5 px-sm-2 align-top align-sm-middle">{{detail[1]}}</td>
                </tr>
            </table>
        </div>
        <ng-template #contents let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Product Images</h4>
                <button id="close-button" type="button" class="close" (click)="modal.close()">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let image of itemDetailResults['Images']">
                        <a [href]="image" target="_blank"><img class="carousel-img p-1" [src]="image"></a>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
            </div>
        </ng-template>
    </div>
</div>
