#title a {
 color: rgb(86, 145, 139);
}

#price {
 color: rgb(159, 217, 153);
}

#shipping {
 color: rgb(216, 181, 125);
}

img {
    width: 140px;
    height: 140px;
}

#no-img {
    width: 140px;
    height: 140px;
}
